<header>
    <div class="w3-bar w3-black">
        <a href="/catalog/add-author" class="w3-bar-item w3-button">Add Author</a>
        <a href="/catalog/add-book" class="w3-bar-item w3-button">Add Book</a>
        <a href="/catalog/books" class="w3-bar-item w3-button">Show Books</a>
        <a href="/catalog/bookings-list" class="w3-bar-item w3-button">Show Bookings</a>
      </div>
</header>